extends include/base.pug
block variables

  mixin navLink(href, link)
    .left-content-nav_title
      a(href=href) #{link}

  mixin bandContentLink(href, link)
    a(href=href).band-news_content-link
      h3 #{link}

block content

  section.content-wrapper
    .container.container_grid_4

      .left-content-nav
        nav
          +navLink('#', 'Новости SOFTWAREE')
          +navLink('#', 'Новости HARDWARE')
          +navLink('#', 'Обзор Железа')

      .band-news_wrapper
        .band-news_title
          a(href='#') Новости SOFTWARE
        .band-news_content-box
          +bandContentLink('#', 'Softline запустила центр мониторинга киберугроз и реагирования на инциденты ИБ')
          +bandContentLink('#', 'Samsung действительно работает над преемником гибкого смартфона Galaxy Fold')
          +bandContentLink('#', 'Энтузиаст показал возможный концептуальный дизайн нового центра управления Windows 10')
          +bandContentLink('#', 'Энтузиаст показал возможный концептуальный дизайн нового центра управления Windows 10')
          +bandContentLink('#', 'Энтузиаст показал возможный концептуальный дизайн нового центра управления Windows 10')
          +bandContentLink('#', 'Энтузиаст показал возможный концептуальный дизайн нового центра управления Windows 10')
          +bandContentLink('#', 'Энтузиаст показал возможный концептуальный дизайн нового центра управления Windows 10')
          +bandContentLink('#', 'Энтузиаст показал возможный концептуальный дизайн нового центра управления Windows 10')
          +bandContentLink('#', 'Энтузиаст показал возможный концептуальный дизайн нового центра управления Windows 10')
          +bandContentLink('#', 'Энтузиаст показал возможный концептуальный дизайн нового центра управления Windows 10')

      .band-news_wrapper
        .band-news_title 
          a(href='#') Новости HARDWARE
        .band-news_content-box
          +bandContentLink('#', 'Softline запустила центр мониторинга киберугроз и реагирования на инциденты ИБ')
          +bandContentLink('#', 'Samsung действительно работает над преемником гибкого смартфона Galaxy Fold')
          +bandContentLink('#', 'Энтузиаст показал возможный концептуальный дизайн нового центра управления Windows 10')

      .right-sidebar
