@import url(font.css);
@import '~normalize.css';
/*
#14161B
#1B1D24
#22252C
#35373D
#848B96
#16171C
*/
html, body{
  background-color: #14161B;
  height: 100%;
  font-family: 'PT Sans', sans-serif;
}
.wrapper{
  display: flex;
  min-height: 100%;
  flex-direction: column;
}
.container{
  max-width: 1280px;
  display: flex;
  background: #1B1D24;
  margin: auto;
  padding: 3px 5px;
}
.container_grid{
  display: grid;
  grid-template-columns: 170px 1fr 1fr;
  grid-gap: 3px;
}
.content-wrapper{
  flex: 1 0 auto;
  margin-top: 3px;
}
section{
}
.header > div{
  height: 40px;
}
.footer > div{

  height: 40px;
}
.left-content-nav{
  background: #22252C;
  border: 1px solid #16171C;
  color: white;
  padding: 5px;
}
.left-content-nav_title{
  background: #35373D;
  color: white;
  padding: 4px;
  margin-bottom: 3px;
}
.left-content-nav_title a{
  display: block;
  text-decoration: none;
  color: white;
}
.band-news_wrapper{
  padding: 3px;
}
.band-news_title{
  padding: 5px 10px;
  text-transform: uppercase;
  font-size: 18px;
  background: rgb(252,51,72);
  background: linear-gradient(90deg, rgba(252,51,72,1) 27%, rgba(254,143,78,1) 100%);
  font-weight: 800;
  color: white;
}
.band-news_content-box{
  background: #b1b3b3;
  padding: 5px;
}
.band-news_content-box a{
}

.band-news_content-box h3{
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 3px;
  margin-top: 3px;
}

.band-news_content-link{
  margin-left: 15px;
  display: block;
  text-decoration: none;
  color: #14161B;
  position: relative;
}
.band-news_content-link:hover{
  text-decoration: underline;
}
.band-news_content-link:before{
  content: '';
  position: absolute;
  width: 4px;
  height: 4px;
  background: #14161B;
  left: -0.5em;
  top:0.3em
}
