html, body{
  background-color: #111112;
  height: 100%;
}
.wrapper{
  display: flex;
  min-height: 100%;
  flex-direction: column;
}
.container{
  max-width: 1280px;
  display: flex;
  background: white;
  margin: auto;
  padding: 3px 5px;
}
.container_grid{
  display: grid;
  grid-template-columns: 170px 1fr 1fr;
  grid-gap: 3px;
}
.content-wrapper{
  flex: 1 0 auto;
  margin-top: 3px;
}
section{
}
.header > div{
  height: 40px;
}
.footer > div{

  height: 40px;
}
.content-nav{
  background: #161725;
  color: white;
  padding: 5px;
}
